.pList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    max-width: 1024px;
    z-index: 1;
    margin: 10px 0px;
}
.pListItem{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;

}
.pListImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 2px 10px 0px rgba(182, 182, 182, 0.474);

}

.pListTitle>h1{
    font-size: 16px;
    color: rgb(0, 0, 0);

}

.pListTitle>h2{
    font-size: 12px;
    color: rgb(42, 42, 42);

}
